var config = {
	token:''
	,botName:''
	,'botImage':''
	,superadmins:[]
	,admins:[]
	,mysql:{
		host:'localhost'
		,port:3306
		,user:'root'
		,password:''
		,database:'trickortreat'
	}	
}
module.exports = config;
